@font-face {
  font-display: swap;
  font-family: 'Rubik Light';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Rubik/static/Rubik-Light.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Rubik/static/Rubik-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Rubik Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Rubik/static/Rubik-Medium.woff2') format('woff2');
}

$white: #ffffff;
$black: #000000;
$pink-400: #ff5e7d;
$orange-300: #ff8b64;
$yellow-300: #f1c75b;
$green-400: #4bcf82;
$grey-200: #d8d8d8;
$navy-200: #bbc0ff;
$navy-800: #33397a;
$navy-900: #1c204b;
$navy-950: #0e1323;
$blue-300: #55c2e6;
$purple-500: #7078c9;
$purple-600: #5747ea;
$purple-700: #7335d2;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
}

.text-navy-200 {
  color: $navy-200;
}

.text-white {
  color: $white;
}

.bg-orange-300 {
  background-color: $orange-300;
}

.bg-blue-300 {
  background-color: $blue-300;
}

.bg-pink-400 {
  background-color: $pink-400;
}

.bg-green-400 {
  background-color: $green-400;
}

.bg-purple-700 {
  background-color: $purple-700;
}

.bg-yellow-300 {
  background-color: $yellow-300;
}

%text-preset-1 {
  font-family: 'Rubik Light';
  font-size: 3.5rem;
  line-height: 1.2;
}

%text-preset-2 {
  font-family: 'Rubik Light';
  font-size: 2.5rem;
  line-height: 1.2;
}

%text-preset-3 {
  font-family: 'Rubik Light';
  font-size: 2rem;
  line-height: 1.2;
}

%text-preset-4 {
  font-family: 'Rubik Light';
  font-size: 1.5rem;
  line-height: 1.2;
}

%text-preset-5-medium {
  font-family: 'Rubik Medium';
  font-size: 1.125rem;
  line-height: 1.2;
}

%text-preset-5-regular {
  font-family: 'Rubik Regular';
  font-size: 1.125rem;
  line-height: 1.2;
}

%text-preset-6 {
  font-family: 'Rubik Regular';
  font-size: 0.9375rem;
  line-height: 1.2;
}

body {
  padding: 5.0625rem 1.5rem;
  min-height: 100dvh;
  background-color: $navy-950;

  @media (min-width: 48rem) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 48rem) {
    max-width: 38.25rem;
    grid-template-columns: repeat(3, 1fr);

    .author {
      grid-column: 1 / 4;
    }
  }

  @media (min-width: 90rem) {
    max-width: 69.75rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .author {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }
  }
}

.author {
  background-color: $navy-900;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1.5625rem;
  border-radius: 0.9375rem;

  @media (min-width: 90rem) {
    gap: 1.75rem;
    padding-bottom: 0;
  }
}

.author__info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: $purple-600;
  border-radius: 0.9375rem;
  padding: 2rem 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 90rem) {
      gap: 0;
    }
  }

  @media (min-width: 90rem) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    padding-bottom: 5.75rem;
  }
}

.author__image {
  border: 3px solid $white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

  @media (min-width: 90rem) {
    width: 4.875rem;
    height: 4.875rem;
  }
}

.author__text {
  @extend %text-preset-6;
  color: $navy-200;
}

.author__name {
  @extend %text-preset-4;
  color: $white;

  @media (min-width: 90rem) {
    font-family: 'Rubik Light';
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.time-frame-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 48rem) {
    width: 21.4375rem;
    align-self: center;
    gap: 0.5rem;
  }

  @media (min-width: 90rem) {
    width: auto;
    grid-template-columns: 1fr;
    padding: 0 2rem 2rem 2rem;
    gap: 21px;
    align-self: self-start;
  }
}

.time-frame-selector__button {
  @extend %text-preset-5-regular;
  color: $white;
  border: none;
  background-color: transparent;
  padding: 0;

  @media (min-width: 90rem) {
    text-align: left;
  }
}

.section {
  padding-top: 2.375rem;
  border-radius: 0.9375rem;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    top: -10.91px;
    right: 17.42px;
    z-index: 0;
  }

  @media (min-width: 90rem) {
    padding-top: 2.8125rem;
  }
}

.section__container {
  padding: 1.5rem 1.5rem;
  background-color: $navy-900;
  position: relative;
  z-index: 1;
  border-top-left-radius: 0.9375rem;
  border-top-right-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 48rem) {
    gap: 1rem;
  }

  @media (min-width: 90rem) {
    padding: 2rem 2rem;
    gap: 1.5rem;
  }
}

.section__container:hover {
  background-color: $navy-800;
}

.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity__title {
  @extend %text-preset-5-medium;
  color: $white;
}

.section__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    @extend %text-preset-3;
    color: $white;

    @media (min-width: 48rem) {
      font-family: 'Rubik Light';
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }

  p {
    @extend %text-preset-6;
    color: $navy-200;
  }

  @media (min-width: 48rem) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: 90rem) {
    gap: 0.5rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
